.navButton {
    border: 2px solid #fff;
    border-radius: 8%;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    color: #fff;
}
#navMenu {
    background-color: rgb(65, 65, 66);
    padding: 12px;
    margin: 0px;
    border-color: red;
}
body {
    margin: 0px;
    background-color:rgb(231, 56, 56);
}

a {
    text-decoration: none;
}

